<section class="sec-how">
  <div class="container">
    <span class="sub-heading"> AI, But Why ? </span>
    <h2 class="heading-secondary">
      Enhanced Productivity, Harmony, and Success<br />
      in Every Aspect of Your Life
    </h2>
  </div>
  <div class="container grid grid--2-cols grid-ver-center">
    <div class="step-text-box">
      <p class="step-number">01</p>
      <h3 class="heading-tertiary">Effortless Task Management</h3>
      <p class="step-description">
        BlueBurst employs cutting-edge artificial intelligence to simplify your
        daily life. Say goodbye to overwhelming to-do lists. With our
        personalized task management system, BlueBurst intelligently categorizes
        and prioritizes your tasks, ensuring you focus on what truly matters.
        The result? You become more efficient, less stressed, and in complete
        control of your time.
      </p>
    </div>

    <div class="step-img-box">
      <img
        src="../../assets/iphone-logo.png"
        alt="iphone-app-logo"
        class="step-img"
      />
    </div>
    <div class="step-img-box">
      <img
        src="../../assets/Iphone-0201.jpg"
        alt="iphone and calender"
        class="step-img"
      />
    </div>
    <div class="step-text-box">
      <p class="step-number">02</p>
      <h3 class="heading-tertiary">Smart Calendar Integration</h3>
      <p class="step-description">
        No more double bookings or missed appointments. BlueBurst seamlessly
        integrates with your existing calendars, offering you a central hub for
        all your scheduling needs. Let our AI-driven calendar do the heavy
        lifting—automatically scheduling tasks, meetings, and reminders to
        optimize your day.
      </p>
    </div>

    <div class="step-text-box">
      <p class="step-number">03</p>
      <h3 class="heading-tertiary">Virtual Personal Assistant</h3>
      <p class="step-description">
        Imagine having a dependable assistant at your fingertips 24/7.
        BlueBurst's virtual personal assistant handles tasks, manages emails,
        sets up meetings, and even learns your preferences over time. It's like
        having a reliable partner in productivity.
      </p>
    </div>
    <div class="step-img-box">
      <img src="../../assets/Iphone-0301.jpg" alt="" class="step-img" />
    </div>
  </div>
</section>
