<div>
  <header class="header">
    <img src="../../assets/logo3.png" alt="Blue Burst logo" class="logo" />
    <nav>
      <ul class="main-nav-list">
        <li><a class="main-nav-link" href="#">How It works?</a></li>
        <li><a class="main-nav-link" href="#">Section 2</a></li>
        <li><a class="main-nav-link" href="#">Section 3</a></li>
        <li><a class="main-nav-link" href="#">Section 4</a></li>
        <li><a class="main-nav-link" href="#">About us</a></li>
        <li><a class="main-nav-link" href="#">Pricing</a></li>
      </ul>
    </nav>
    <nav>
      <ul class="middle-nav-list">
        <li><a class="main-nav-link" href="#">Login</a></li>
        <li><a class="main-nav-link" href="#">Contact us</a></li>
        <li><a class="main-nav-link nav-cta" href="#">Sign up</a></li>
      </ul>
    </nav>
  </header>
</div>
