<!-- <section id="header">
  <div class="container max-w-6xl mx-auto px-6 py-12 md:px-0">
    <nav class="flex items-center justify-between font-bold text-white">
      <img src="../../assets/LogoRe.png" alt="logo" class="logo w-54 h-54" />
      <div class="hidden h-10 font-alata md:flex md:space-x-8">
        <div class="group">
          <a href="#">About</a>
          <div
            class="mx-2 group-hover:border-b group-hover:border-blue-50"
          ></div>
        </div>
      </div>
    </nav>
  </div>
</section> -->
