<main>
  <section class="section-hero">
    <div class="hero">
      <div class="hero-text-box">
        <h1 class="heading-primary">
          Mastering Life and Work<br />
          with AI Harmony
        </h1>
        <p class="hero-dercription">
          Your AI-powered life and work balance solution.<br />
          Maximize productivity, minimize stress.<br />
          By having your AI assitance at your hands,<br />
          Restore your whole life back and keep the worry away.
        </p>
        <a href="#" class="btn btn--CTA mr-6">Explore your new life!</a>
        <a href="#" class="btn btn--outline">Know More &darr;</a>
      </div>
      <div class="hero-img-box">
        <img
          src="../../assets/Cover_5.png"
          class="hero-img"
          alt="a smiling man who have a good phone call,
            A hand holding an Iphone, A hand writing note on sticky notes,
            2 friends are checking something on laptop monitor"
        />
      </div>
    </div>
    <div class="happy-customers">
      <div class="happy-text">
        <p>
          Over 4000 tech leaders have chosen our products to elevate their
          team's productivity.
        </p>
      </div>
    </div>
  </section>
</main>
