<section>
  <h2 class="heading-secondary">
    Your one-stop solution <br />for streamlined task management
  </h2>
  <div class="container grid grid--2-cols">
    <div class="features-image">
      <img src="../../assets/2024 modified.jpg" alt="features-image" />
    </div>

    <div class="container grid grid--2-cols">
      <div class="app-feature">
        <ion-icon name="finger-print" class="feature-icon"></ion-icon>
        <p class="feature-title">Personalized Task Management</p>
        <p class="feature-detail">
          Utilize AI algorithms to prioritize and organize tasks based on
          individual preferences and deadlines.
        </p>
      </div>
      <div class="app-feature">
        <ion-icon name="medal" class="feature-icon"></ion-icon>
        <p class="feature-title">Intelligent Goal Setting</p>
        <p class="feature-detail">
          Break down long-term goals into manageable milestones with AI-driven
          tracking and feedback.
        </p>
      </div>

      <div class="app-feature">
        <ion-icon name="fitness" class="feature-icon"></ion-icon>
        <p class="feature-title">Habit Formation Assistance</p>
        <p class="feature-detail">
          Receive timely nudges and reminders to build positive habits
          effectively.
        </p>
      </div>
      <div class="app-feature">
        <ion-icon name="stats" class="feature-icon"></ion-icon>
        <p class="feature-title">Insights and Analytics</p>
        <p class="feature-detail">
          Gain valuable productivity insights and make data-driven decisions for
          improvement.
        </p>
      </div>
    </div>
  </div>
</section>
