<section class="section-featured">
  <div class="container">
    <h2 class="heading-featured">Trusted by Leading Companies</h2>
    <div class="logos">
      <img src="../../assets/logos/Dickens.jpg" alt="Dickens-logo" />
      <img src="../../assets/logos/Maxim-1jpg.jpg" alt="Maxim-logo" />
      <img src="../../assets/logos/Ivar-2.jpg" alt="Ivar-logo" />
      <img src="../../assets/logos/focal.jpg" alt="focal-logo" />
      <img src="../../assets/logos/Rosco.jpg" alt="Rosco-logo" />

      <img src="../../assets/logos/o'connor-Hotels.jpg" alt="o'connor-logo" />
    </div>
  </div>
</section>
