<section class="section-featured">
  <div class="container">
    <h2 class="heading-featured">Trusted by Leading Companies</h2>
    <div class="logos">
      <img src="../../assets/logos/Amazon_logo.svg.jpg" alt="amazon-logo" />
      <img
        src="../../assets/logos/FedEx_logo_orange-purple.jpg"
        alt="Fedex-logo"
      />
      <img
        src="../../assets/logos/Mastercard_2019_logo.svg-e1659036851269.jpg"
        alt="Mastercard-logo"
      />
      <img
        src="../../assets/logos/Mercedes-Benz_Star_2022.svg-e1659040207989.jpg"
        alt="Mercedes-Benz-logo"
      />
      <img
        src="../../assets/logos/vecteezy_adidas-logo-vector-adidas-icon-free-vector_19136412.jpg"
        alt="adidas-logo"
      />
      <img
        src="../../assets/logos/vecteezy_mitsubishi-motors-logo-brand-symbol-red-with-name-black_20502747.jpg"
        alt="mitsubishi-motors-logo"
      />
    </div>
  </div>
</section>
