@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-size: 62.5%;
}
body {
  font-family: "Rubik", sans-serif;
  color: #555;
  font-weight: 600;
  line-height: 1;
}
/* Container "Element is used to center our content"*/
.container {
  max-width: 120rem;
  padding: 0, 3.2rem;
  margin: 0 auto;
}

/* 
Deep Blue: #0048BA
Tint :#e6edf8
Shades
Accents
Greys

shadows


*/
